h1{
  color: salmon;
}

h2{
  color: blue;
}

h3{
  color: black;
}

p{
  color: cyan;
}

ul{
  color: hsl(0, 100%, 50%);
}

a:link{
  color: hsl(0, 100%, 50%);
}
a:visited{
  color: hsl(350, 100%, 50%);
}
a:hover{
  color: hsl(10, 100%, 50%);
}

body{
  background-color: sienna;
}